// Colors
$darkGrey: #323232;
$white: #f8f8ff;
$black: #000020;
$blue: #ffffff;
$linkColor: #6198ff;

$backgroundDarker: #252627;
$backgroundDark: #252627;

//Fonts
$fontHeader: 'JetBrains Mono', monospace;
$fontParagraph: 'JetBrains Mono', sans-serif;
$fontCode: 'JetBrains Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;